# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/.github
.cursorrules

# testing
/coverage
playwright
lighthouse-report-*.html

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/test-results

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test logs
all_tests.log
full_test_run.txt
test_out.log
test_results.json
